<select id="products">
<option value="-"></option>
<option value="dbl_espresso">Dobbel espresso</option>
<option value="cappucino">Cappucino</option>
</select>
<input type="submit" id="order" value="Bestill"/>